[submodule "conduit-backend"]
	path = conduit-backend
	url = https://github.com/Zeebuhh/conduit-backend.git
[submodule "conduit-frontend"]
	path = conduit-frontend
	url = https://github.com/Zeebuhh/conduit-frontend.git
